<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="row  jumbotron">
    <div class="col-sm-12">
      <ul class="nav navbar-dark bg-dark">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <!-- <li class="nav-item" *ngFor="let nav of navList;">
          <a class="nav-link" [routerLink]="nav.link" (click)="setActive()" [ngClass]="{'active':nav.active}">{{nav.name}}</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product']">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cart']">Cart</a>
        </li>

      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>