<h1>Wlcome to Products Page</h1>
<div class="container text-left">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let item of itemList;let i=index">{{item.id}}. {{item.name}}</li>
  </ul>

</div>
<br/>
<form [formGroup]="itemForm">
    <div class="form-group">
        <input type="text" class="form-control" id="itemName" placeholder="Item Name" name="itemName" formControlName="itemName"
        />
      </div>
      <div class="form-group">
          <input type="text" class="form-control" id="itemValue" placeholder="Item Value" name="itemValue" formControlName="itemValue"
          />
        </div>

    <button class="btn" (click)="addItem();">Add Item</button>
</form>
